* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

body {
    background: #121212;
    color: #b6b6b6;
}

header {
    background: #121212;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: auto; 
    height: auto;
    margin-right: 10px;
}

.partnercompaniesPic {
    width: auto; 
    height: auto;
    margin-top: 8.5rem;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 2rem;
    align-items: center; 
}

.nav-items li {
    display: flex;
    align-items: center; 
}

nav a {
    text-decoration: none;
    color: #f2f7f5;
    padding: 0.5rem 1rem;
    display: inline-block; 
    vertical-align: middle; 
}
nav a:hover {
    color: #121212;
}

.btn-primary, .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: normal; 
    margin:0;
    outline-style: groove;
    outline-width: 0.4px;
}

.btn-primary {
    background-color: #02603b;
    color:#f2f7f5;
}

.btn-primary:hover {
    background-color: #02603b;
}

.btn-secondary {
    background-color: #2d2e30;
    color:#f2f7f5;
}

.btn-secondary:hover {
    background-color: #2d2e30;
}

.hero {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 0 2rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.column-left h1 {
    font-size: 68px;
    margin-bottom: 0rem;
}

.column-left h2 {
    font-size: 68px;
    margin-bottom: 1rem;
}

.column-left p {
    font-size: 16px;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.highlight {
    color: #3ecf8e;
}

.feature-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    padding: 2rem;
    background-color: #121212; 
    color: #f5f5f5;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-box-1, .feature-box-2, .feature-box-3 {
    background-color: hsl(0, 0%, 9.02%);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    flex: 1;
    /*transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;*/
}

.feature-box:hover {
    box-shadow: 0px 4px 15px hsl(0, 0%, 9.02%);
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.feature-box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature-box p {
    font-size: 1rem;
    color: #b6b6b6;
}

@media screen and (max-width: 768px) {
    .hero-container {
        padding: 0 1rem;
    }

    .column-left h1, .column-left h2 {
        font-size: 2rem;
    }

    button {
        padding: 0.75rem 2rem;
    }
}
