* {
    border: border-box;
    margin: auto;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

body {
    background: #121212;
    color: #b6b6b6;
}

header {
    background: #121212;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 24px 24px;
    font-size: 14px;
    border-bottom:rgb(46, 46, 46);
    border-bottom-width: 0px;
    line-height: 24 px;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
}

.githubicon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    margin-right: 1rem; 
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-select {
    background-color: #121212 ;
    color: #f2f7f5;
    border-color: #121212; 
    text-align: center;
    outline: transparent;
    padding: 8 rem;

}
.nav-logo {
    width: auto; 
    height: auto;
    margin-right: 10px;
}

.partnercompaniesPic {
    width: auto; 
    height: auto;
    margin-top: 8.5rem;
    padding: 48px 0px 96px;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding-right: 2rem;
    align-items: center; 
}

.nav-items li {
    display: flex;
    align-items: center; 
}

nav a {
    text-decoration: none;
    color: #f2f7f5;
    padding: 0.5rem 1rem;
    display: inline-block; 
    vertical-align: middle; 
}
nav a:hover {
    color: #121212;
}

.btn-primary, .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 12 px;
    line-height: normal; 
    margin:0;
    outline-style: groove;
    outline-width: 0.4px;
}

.btn-primary {
    background-color: #02603b;
    color:#f2f7f5;
}

.btn-primary:hover {
    background-color: #02603b;
}

.btn-secondary {
    background-color: #2d2e30;
    color:#f2f7f5;
}

.btn-secondary:hover {
    background-color: #2d2e30;
}

.hero {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 0 2rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.column-left h1 {
    font-size: 72px;
    margin-bottom: 0rem;
}

.column-left h2 {
    font-size: 72px;
    margin-bottom: 1rem;
}

.column-left p {
    font-size: 18px;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.highlight {
    color: #3ecf8e;
}

.feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    background-color: #121212;
    color: #f5f5f5;
    padding: 32px 24px;
    margin: 0 auto;
}

.box {
    background-color: hsl(0, 0%, 9.02%);
    flex: 1 1 calc(25% - 1rem);
    max-width: calc(25% - 1rem); 
    border-radius: 8px;
    padding: 32px 24px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0px 4px 15px hsl(0, 0%, 9.02%);
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.box-content {
    color: #f5f5f5;
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.box p {
    font-size: 1rem;
    color: #b6b6b6;
    line-height: 1.5rem;
}

.box ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    line-height: 1.5rem;
}

.box ul li {
    font-size: 1rem;
    color: #f5f5f5;
    margin-bottom: 0.5rem;
}

.box-img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .feature-section {
        flex-direction: column;
    }

    .box {
        min-width: 100%;
        max-width: 100%;
    }
}
